@media(max-width: 980px) {
  .fontenddev {
    margin: 0;
    font-size: 2em;
    padding: 0.5em;
    width: 100vw;
    height: 10em;
    border-radius: 0%;
    float: left;
  }

  .backenddev {
    margin: 0;
    font-size: 2em;
    padding: 0.5em;
    width: 80vw;
    height: 10em;
    border-radius: 0%;
    float: left;
  }

  .aboutMe {
    width: 100vw;
    margin: 0;
    float: left;
    border-radius: 0;
    font-size: 2em;
    -webkit-animation: phone-aboutme 0.3s ease;
            animation: phone-aboutme 0.3s ease;
  }

  .findmeon {
    width: 100vw;
    height: 10em;
    float: left;
    border-radius: 0;
    margin: 0;
    font-size: 1.5em;
    padding: 1em;
    -webkit-animation: phone-aboutme 0.3s ease;
            animation: phone-aboutme 0.3s ease;
  }

  .youtubeiwatch {
    width: 100vw;
    float: left;
    border-radius: 0;
    margin: 0;
    font-size: 2em;
    padding: 1em;
  }
  .youtubeiwatch .youtubeIcon {
    width: 15em;
    height: 10em;
  }

  .placeigo {
    width: 100vw;
    float: left;
    border-radius: 0;
    margin: 0;
    font-size: 2em;
    padding: 1em;
  }

  #YTbgv {
    display: none;
  }

  .myprojects {
    width: 100vw;
    margin-top: 0em;
    border-radius: 0em;
  }
}
