* {
  padding: 0;
  margin: 0;
}

html {
  text-align: center;
  -webkit-animation: init 0.2s ease both;
          animation: init 0.2s ease both;
}

.homePage {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-family: Roboto;
}

.myface {
  border-radius: 50%;
  width: 15em;
  height: 15em;
}

.upload {
  margin: 0 auto;
  border: 3px dotted #212323;
  width: 50vw;
  height: 50vh;
  transition: all 0.3s ease;
  position: relative;
}

.upload.gotfile {
  border: 2px solid #55da0d;
}

.upload .uploadIcon {
  opacity: 0;
  width: auto;
  height: 30%;
  top: 100px;
  transition: all 0.3s ease;
  position: relative;
}

.upload .uploadIcon.gotfile {
  opacity: 1;
  top: 0px;
}

.upload .uploadIcon.uploadfile {
  top: -100px;
  opacity: 0;
}

b {
  font-size: 1.1em;
  color: #8F334C;
}

.pro {
  background: #FCD000;
  color: #000;
  padding: 0.2em;
  border-radius: 5px;
}

[name=image] {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0em;
  right: 0em;
}

.background {
  background: url("https://bytebucket.org/moongod101/codepenassets-official-source/raw/8b02ff20941ca491562172be34c550b8f2059342/Codepenassets.png?token=326c89d1e8a0adb8313e8613dd33b579f7711f31") no-repeat center fixed;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
}

.indiegogoCampaign {
  width: 222px;
  height: 445px;
  position: fixed;
  left: 0em;
  top: 0em;
}

.notif.red {
  background: red;
  color: #FFF;
  text-align: center;
  letter-spacing: 3px;
  font-family: fantasy;
  position: fixed;
  z-index: 100;
  width: 100vw;
  font-size: 1.5em;
}

.features {
  position: fixed;
  top: 11em;
  right: 0em;
  width: 10em;
  height: 15em;
  text-align: center;
  z-index: 99;
  background: rgba(113, 125, 191, 0.3);
}

@media screen and (max-width: 1010px) {
  .upload {
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
  }
  html {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 980px) {
  .showcase {
    font-size: 2em;
  }
  .myface {
    border-radius: 50%;
    width: 20em;
    height: 20em;
  }
  .showcase {
    width: 90vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 670px) {
  .myface {
    border-radius: 50%;
    width: 30em;
    height: 30em;
  }
}

@-webkit-keyframes init {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes init {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
