* {
  padding: 0;
  margin: 0;
}

html {
  text-align: center;
}

.background {
  background: url("https://bytebucket.org/moongod101/codepenassets-official-source/raw/8b02ff20941ca491562172be34c550b8f2059342/Codepenassets.png?token=326c89d1e8a0adb8313e8613dd33b579f7711f31") no-repeat center fixed;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
}

.showAssets {
  text-align: center;
  position: relative;
  top: 0em;
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.assets {
  background: rgba(204, 204, 204, 0.4);
  width: 10em;
  height: 10em;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: inline-block;
  top: 0em;
  border-radius: 50%;
}

.assets img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
  border-radius: 50%;
}

.assets img.chose {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.changePassword input {
  outline: none;
  border: none;
  border-bottom: 3px solid #2e2d27;
  padding: 1em;
  background: none;
}

.changePassword [type=submit] {
  background: #edd00f;
  border: none;
  cursor: pointer;
}

.removeAccount input {
  outline: none;
  border: none;
  border-bottom: 3px solid #2e2d27;
  padding: 1em;
  background: none;
}

.removeAccount [type=submit] {
  background: #ed2a0f;
  border: none;
  cursor: pointer;
}

.notif {
  background: #60E550;
  width: 100vw;
  position: relative;
  color: #FFF;
  font-size: 1.1em;
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 2em;
  }
  .assets {
    width: 50vw;
    height: 35vh;
  }
  [name=update] {
    font-size: 3em;
    padding: 0.5em;
  }
  .changePassword input {
    font-size: 2em;
  }
  .changePassword p {
    font-size: 2em;
  }
}
