* {
  padding: 0;
  margin: 0;
}

.console {
  width: 60vw;
  height: 5em;
  padding: 1em;
  margin: 0 auto;
  background: #CCC;
  transition: background 0.2s ease;
}

.console:hover {
  background: #E0FFFB;
}
